body {
    z-index: 1;
}

#quadroGrafico {
    position: relative;
    border: 2px solid black;
    height: fit-content;
    width: fit-content;
}

#quadroGrafico::before {
    content: "";
    inset: 0;
    position: absolute;
    background-image:
        linear-gradient(to right, black 1px, transparent 1px),
        linear-gradient(to bottom, black 1px, transparent 1px);
    background-size: 10px 10px;
    opacity: 0.5;
}

#grafico {
    z-index: 2;
    position: relative;
}

button {
    height: 20px;
    width: fit-content;
    text-align: center;
}

#inputs {
    display: flex;
    flex-direction: column;
}

#editorAleatorio {
    align-items: center;
    justify-content: center;
    height: fit-content;
    width: fit-content;
    padding: 10px;
    position: absolute;
    background-color: gray;
    display: none;
    flex-direction: column;
    z-index: 2;
    border-radius: 10px;
    left: 200px;
    top: 385px;
    animation: fadeIn 0.5s ease;

}

.fadeout {
    animation: fadeOut 0.5s ease;
}

#minMax {
    display: flex;
}

#aleatorioX,
#aleatorioY {
    width: 50px;
}

#eixos {
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
}

#quantEixos {
    padding-left: 5px;
    padding-right: 5px;
}
#tabelaDeDados{
    width: fit-content;
    height: 300px;
    background-color: red;
}

th, tr, td{
    border: 1px solid black;
    border-collapse: collapse;
}
@keyframes fadeIn {
    0% {
        transform: translateY(-10px);
        opacity: 0;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes fadeOut {
    0% {
        transform: translateY(0px);
        opacity: 1;
    }

    100% {
        transform: translateY(10px);
        opacity: 0;
    }
}